body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}
.header {
    text-align: center;
    margin: 0 0 0 0;
    padding: 5px;
    background-color: #000000;
}
#logo {
    width: 150px;
    border-radius: 100px;
}
.welcome {
    background-color: gray;
    text-align: center;
}

/*Carrusel

.carrusel {

}
.carrusel .img {
    
}
.carrusel .grande {

}
.carrusel .puntos {

}

.carrusel .punto {

}*/